{% extends "base.html" %} 
{% block content %}
<section class="game-container">
    <div class="header">
        <h1>Sentence Game</h1>
        <div class="round-info">Rounds left: {{ room.total_rounds }}</div>
    </div>
    <div class="players-container">
        <ul class="player-list">
            {% for player in players %}
            <li id="player-{{ player.id }}">{{ player.user }}{% if forloop.first %} (You){% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    <div className="CreateRoom">
        <form action="/create/" method="post">
            <textarea placeholder="Previous text..." disabled="true"></textarea>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create Story">
        </form>
    </div>
</section>
{% endblock %}